.full-height {
    height: 100vh;
    /* Establece la altura al 100% del viewport */
}

.perfil-card {
    max-width: 350px;
}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 255px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 