.example-full-width {
    width: 45%;
  }
  
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
  display: none;
  }
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .mat-elevation-z8 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
  }
  
  table.mat-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th.mat-header-cell,
  td.mat-cell {
    padding: 4px;
    text-align: left;
  }
  
  th.mat-header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  th.mat-header-cell.header-style {
    background-color: #d3c2c8;
    color: #ffffff;
  }
  
  tr.mat-row {
    background-color: #ffffff;
    height: 10px;
  }
  
  tr.mat-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr.mat-row:hover {
    background-color: #e6e6e6;
  }
  
  .delete-button {
    padding: 2px;
  }
  
  .delete-icon {
    font-size: 16px;
  }
  
  @media screen and (max-width: 600px) {
    table.mat-table {
      font-size: 12px;
    }
  
    th.mat-header-cell,
    td.mat-cell {
      padding: 4px;
    }
  }